

// Animation
// ---------------------------------------------
.homepage__panel-campuses-title-wrapper {}
.hompage__panel-title-campuses {}	
.title_slice {					display: block;	}
.title_slice_inline {			display: inline-block;	}
.title_slice_wrapper {			font-size: 0;	}

// Position some of the te/xt so that it reads text
.slice_translate-left {			transform: translateX(-$grid-gutter-width);	}
.slice_translate-right {		transform: translateX($grid-gutter-width);}

@media (min-width: $screen-md-min) {
	[data-animation] {
		transition: all 800ms $transition;
	}
}

// Tablet Landscape up
@media (min-width: $screen-md-min) {

	.js {
		// Brand challenge
		[data-animation=brand-challenge-banner],
		[data-animation=brand-challenge-title],
		[data-animation=brand-challenge-intro],
		[data-animation=brand-challenge-news-1],
		[data-animation=brand-challenge-news-2],
		[data-animation=brand-challenge-news-3],
		[data-animation=brand-challenge-news-4]  {
			opacity: 0;
		}
		[data-animation=brand-challenge-banner] {
			transform: translateX(-100px);
		}
		[data-animation=brand-challenge-title] {}	
		[data-animation=brand-challenge-intro] {
			transform: translateX(100px);
		}
		
		[data-animation=brand-challenge-news-1],
		[data-animation=brand-challenge-news-2],
		[data-animation=brand-challenge-news-3],
		[data-animation=brand-challenge-news-4] {
			transform: translateY(100px)
		}
		
		[data-animation=brand-challenge-news-1] {transition-delay: 100ms;}
		[data-animation=brand-challenge-news-2] {transition-delay: 200ms;}
		[data-animation=brand-challenge-news-3] {transition-delay: 300ms;}
		[data-animation=brand-challenge-news-4] {transition-delay: 400ms;}



		// News articles
		[data-animation=news-title],
		[data-animation=news-article-1],
		[data-animation=news-article-2],
		[data-animation=news-article-3]  {
			transform: translateY(20vh);
			opacity: 0;
		}
	
		[data-animation=news-title] {
			transform: translateY(-5vh);
		}
	
		[data-animation=news-article-1] {
			transition-delay: 100ms;
		}
		[data-animation=news-article-2] {
			transition-delay: 200ms;
		}
		[data-animation=news-article-3] {
			transition-delay: 300ms;
		}


		// Students and Alumni
		[data-animation=alu],
		[data-animation=mni],
		[data-animation=stude],
		[data-animation=ntlife] {
			opacity: 0;
		}		
	}

	.is-animated {
		// Brand challenge
		[data-animation=brand-challenge-banner] {
			transform: translateX(0);
		}
		[data-animation=brand-challenge-title] {
			transform: translateX(-54px);
		}	
		[data-animation=brand-challenge-intro] {
			transform: translateX(0);
		}
		[data-animation=brand-challenge-banner],
		[data-animation=brand-challenge-title],
		[data-animation=brand-challenge-intro],
		[data-animation=brand-challenge-news-1],
		[data-animation=brand-challenge-news-2],
		[data-animation=brand-challenge-news-3],
		[data-animation=brand-challenge-news-4]  {
			opacity: 1;
		}
		[data-animation=brand-challenge-news-1],
		[data-animation=brand-challenge-news-2],
		[data-animation=brand-challenge-news-3],
		[data-animation=brand-challenge-news-4] {
			transform: translateY(0)
		}
			

		// Campuses
		[data-animation='1'] {			margin-top: 120px;	}
		[data-animation='2'] {			margin-top: 150px;	}
		[data-animation='3'] {			margin-top: 0;		}
		[data-animation='4'] {			margin-top: 25px;	}
		[data-animation='8'] {			margin-top: 145px;	}			
		[data-animation='9'] {			margin-bottom: 35px;} 
		[data-animation='10'] {			
			margin-bottom: 35px;
			margin-top: 150px;
		}
		[data-animation='11'] {
			margin-bottom: 135px;
			margin-top: 25px;				
		} 
		[data-animation='12'] {			margin-bottom: 135px;} 

	
		// Students and Alumni
		[data-animation=alu],
		[data-animation=mni],
		[data-animation=stude],
		[data-animation=ntlife] {
			opacity: 1;
		}

		[data-animation=alu] {			margin-top: 50px;}			
		[data-animation=mni] {			margin-top: 90px;}			
		[data-animation=stude] {		margin-top: 100px;}	
		[data-animation=ntlife] {
			margin-top: 145px;			
			margin-bottom: 70px;
		} 

		// News articles
		[data-animation=news-title],
		[data-animation=news-article-1],
		[data-animation=news-article-2],
		[data-animation=news-article-3] {
			transform: translateY(0);
			opacity: 1;	
		}
	}
}


// Tablet Portrait only
@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
	.js .is-animated {
		[data-animation='1meow'] {
			margin-bottom: 35px;
		} 
		[data-animation='2meow'] {
			margin-bottom: 50px;
		} 

		[data-animation='1'] {
			margin-top: 40px;
		}
		[data-animation='2'] {
			margin-top: 60px;
			margin-bottom: 40px;
		}
		[data-animation='3'] {
			margin-top: 0;			
		}
		[data-animation='4'] {
			margin-top: 25px;			
		}

		// Students and Alumni
		[data-animation=alu] {
			margin-top: 50px;
		}			
		[data-animation=mni] {
			margin-top: 90px;
		}			
		[data-animation=stude] {
			margin-top: 100px;
		}			
		[data-animation=ntlife] {
			margin-top: 145px;
		}			

	}
}









// Mobile Only	
@media (max-width: $screen-sm-max) {
	.title_slice,
	.title_slice_inline {
		height: 20px;
		width: auto;
		max-width: none
	}

	.is-animated {
		[data-animation='1'] {
			margin-top: 20px;
		}

		[data-animation='6'] {
			margin-top: 20px;
			margin-bottom: 40px;
		}

		[data-animation='7'] {
			margin-top: 20px;
		}
			
		[data-animation='8'] {
			margin-top: 40px;
		}
	}
}

