.btn-course-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-course-info2 {
	padding: 23px 10px;
}


.panel__tabs-wrapper {
	display: flex;
}

.btn-course-tab {
	flex: 1 1 auto;
}