// Homepage
// ---------------------------------------------
#home-intro {
	background-color: $gray-darker;
	background-image: url('../img/sprite_hashes.png');
	height: calc(100vh -  #{$header-height});
}
#home-specialisations {
	background-color: $orange;
}
#home-brand-challenge {
	background-color: $yellow;
}
#home-campuses {
	background-color: $teal;

	@media (min-width: $screen-sm-max) {
		background-image: url('../img/homepage_campuses-bg.png');
		background-repeat: repeat-x;
		background-position: top;
	}
}
#home-students {
	background-color: $magenta;
	@media (max-width: $screen-sm-max) {
		padding-top: 5vh;	
	}
}
#home-news {
	@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { 
		height: auto;
		padding-bottom: 0;
	}
}

// Site structure
// ----------------------------------------------------------------
@media (min-width: $grid-float-breakpoint) {
	.site-content {
		height: calc(100vh);
	}
}

@media (max-width: $grid-float-breakpoint) {
	.site-content {
		height: calc(100vh -  #{$navbar-height-mobile});
	}
}

.homepage__panel {
	display: flex;
    align-items: center;

	.container {
		flex: 1 1 auto;
	}
}

@media all and (-ms-high-contrast:none) {
.homepage__panel { 
	display: block;  
	padding-top: 20vh;
} /* IE10 */
*::-ms-backdrop, .homepage__panel { 
	display: block; 
	padding-top: 20vh;
} /* IE11 */
}


@media (min-width: $screen-sm-max) {}

@media (max-width: $screen-sm-max) {		
	.homepage__panel {
		padding-bottom: 10vh;
	}
}
	
	.hompage__panel-title-specialisations {
		height: 14vh;
		margin: 0;
	}


@media (max-width: $screen-sm-max) {		
	.homepage__panel-title-xs {
		background: black;
		color: $white;
		font-size: 1.5rem;
		height: auto;
		padding: 15px 5px;
		margin: 0 #{-$grid-gutter-width};
		text-align: center;
		margin-bottom: 20px;
	}
}

	


// Intro
// ---------------------------------------------

.homepage__panel-intro-wrapper {
	margin-bottom: 20vh;
	// height: 40vh;
	@media (max-width: $screen-sm-max) {		
		// margin-top: 30vh;
		// height: 50vh;
	}
	@media (max-width: $screen-xs-max) {		
		// margin-top: 8vh;
	}
}

	.hompage__panel-title-intro {
		font-weight: normal;
		letter-spacing: 8px;
		margin-bottom: 3vh;
	}

	
	.academic-levels__menu {}
		
		.academic-levels__item {
			flex: 1 1 auto;

			@media (max-width: $screen-xs-max) {		
				margin-bottom: 10px;
			}

			&:nth-of-type(1) {
				.academic-levels__link {
					background-color: $orange;
					&:hover {
						background-color: $dark-orange;
					}
				}
			}
			&:nth-of-type(2) {
				.academic-levels__link {
					background-color: $magenta;
					&:hover {
						background-color: $dark-magenta;
					}
				}
			}
			&:nth-of-type(3) {
				.academic-levels__link {
					background-color: $teal;
					&:hover {
						background-color: $dark-teal;
					}
				}
			}
			&:nth-of-type(4) {
				.academic-levels__link {
					background-color: $yellow;
					&:hover {
						background-color: $dark-yellow;
					}
				}
			}
			&:nth-of-type(5) {
				.academic-levels__link {
					background-color: $green;
					&:hover {
						background-color: $dark-green;
					}
				}
			}
		}
			
			.academic-levels__link {
				display: block;
				text-align: center;
				padding: 2vh 5px;
				text-transform: uppercase;
				background: $brand-primary;
				color: $white;
				font-weight: bold;
				transition: all 200ms $transition; 
				&:hover,
				&:visited {
					color: $white;
				}
			}





			
// Specialisations 
// ---------------------------------------------

.specialisations__menu {
	flex-wrap: wrap;
	justify-content: center;
}

.specialisations__item {
	height: 22vh; // 100vh - 10 - 10 - 14
	
	@media (max-width: $screen-xs-max) { 
		width: 50%;
	}
	@media (min-width: $screen-xs-max) { 
		width: 25%;
	}
	@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) { 
		width: 33.33333333333333%;
	}
}

.specialisations__link {
	display: block;
	text-align: center;
}

.specialisations__icon {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: url('../img/sprite_specialisations.png');
	margin-bottom: 3vh;
	@media (max-width: $screen-xs-max) { 
		transform: scale(.6);
		margin-bottom: 0;
	}	
}

.specialisations__title {
	display: block;
	text-transform: uppercase;
	color: $white;
}


$sprite-x : 100px;
$sprite-y : 100px;

.sprite_graphic_design {
	background-position: $sprite-x * -0 $sprite-y * -0;
}
.sprite_multimedia {
	background-position: $sprite-x * -1 $sprite-y * -0;
}
.sprite_copywriting {
	background-position: $sprite-x * -2 $sprite-y * -0;
}
.sprite_game_design {
	background-position: $sprite-x * -3 $sprite-y * -0;
}


.sprite_fashion_design {
	background-position: $sprite-x * -0 $sprite-y * -1;
}
.sprite_interior_design {
	background-position: $sprite-x * -1 $sprite-y * -1;
}
.sprite_digital_marketing {
	background-position: $sprite-x * -2 $sprite-y * -1;
}
.sprite_brand_communication {
	background-position: $sprite-x * -3 $sprite-y * -1;
}

.sprite_photography {
	background-position: $sprite-x * -0 $sprite-y * -2;
}
.sprite_brand_management {
	background-position: $sprite-x * -01 $sprite-y * -2;
}


// Brand Challenge
// ---------------------------------------------
@media (min-width: $screen-md-min) { 
	// .is-animated .hompage__panel-title-brand-challenge {
	// 	transform: translateX(-54px);
	// }
}
@media (max-width: $screen-sm-max) { 
	// .is-animated .hompage__panel-title-brand-challenge {
	// 	margin-top: -2rem;
	// }
	.xs-grid-pull {
		margin: 0 #{-$grid-gutter-width}; 
	}

	.carousel__brand-challenge {
		padding: 0 50px;

		.slick-slide {
			background: $white;
		}
	}

}

@media (min-width: $screen-xs-max) { 
	.button_float {
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
	}
}




// Animation
// ---------------------------------------------
.homepage__panel-campuses-title-wrapper {}
.hompage__panel-title-campuses {}	
.title_slice {					display: block;	}
.title_slice_inline {			display: inline-block;	}
.title_slice_wrapper {			font-size: 0;	}

// Position some of the te/xt so that it reads text
.slice_translate-left {			transform: translateX(-$grid-gutter-width);	}
.slice_translate-right {		transform: translateX($grid-gutter-width);}


[data-animation] {
	transition: all 800ms $transition;
}


.js {	
	// Brand challenge
	[data-animation=brand-challenge-banner],
	[data-animation=brand-challenge-title],
	[data-animation=brand-challenge-intro],
	[data-animation=brand-challenge-news-1],
	[data-animation=brand-challenge-news-2],
	[data-animation=brand-challenge-news-3],
	[data-animation=brand-challenge-news-4]  {
		opacity: 0;
	}
	[data-animation=brand-challenge-banner] {
		transform: translateX(-100px);
	}
	[data-animation=brand-challenge-title] {}	
	[data-animation=brand-challenge-intro] {
		transform: translateX(100px);
	}
	
	[data-animation=brand-challenge-news-1],
	[data-animation=brand-challenge-news-2],
	[data-animation=brand-challenge-news-3],
	[data-animation=brand-challenge-news-4] {
		transform: translateY(100px)
	}
	
	[data-animation=brand-challenge-news-1] {transition-delay: 100ms;}
	[data-animation=brand-challenge-news-2] {transition-delay: 200ms;}
	[data-animation=brand-challenge-news-3] {transition-delay: 300ms;}
	[data-animation=brand-challenge-news-4] {transition-delay: 400ms;}

	
	// Students and Alumni
	[data-animation=alu],
	[data-animation=mni],
	[data-animation=stude],
	[data-animation=ntlife] {
		opacity: 0;
	}
}

.is-animated {
	// Brand challenge
	[data-animation=brand-challenge-banner] {
		transform: translateX(0);
	}
	[data-animation=brand-challenge-title] {
		transform: translateX(-54px);
	}	
	[data-animation=brand-challenge-intro] {
		transform: translateX(0);
	}
	[data-animation=brand-challenge-banner],
	[data-animation=brand-challenge-title],
	[data-animation=brand-challenge-intro],
	[data-animation=brand-challenge-news-1],
	[data-animation=brand-challenge-news-2],
	[data-animation=brand-challenge-news-3],
	[data-animation=brand-challenge-news-4]  {
		opacity: 1;
	}
	[data-animation=brand-challenge-news-1],
	[data-animation=brand-challenge-news-2],
	[data-animation=brand-challenge-news-3],
	[data-animation=brand-challenge-news-4] {
		transform: translateY(0)
	}

	// Students and Alumni
	[data-animation=alu],
	[data-animation=mni],
	[data-animation=stude],
	[data-animation=ntlife] {
		opacity: 1;
	}
}


// Tablet Landscape up
@media (min-width: $screen-md-min) {

	.js {
		// News articles
		[data-animation=news-title],
		[data-animation=news-article-1],
		[data-animation=news-article-2],
		[data-animation=news-article-3]  {
			transform: translateY(20vh);
			opacity: 0;
		}
	
		[data-animation=news-title] {
			transform: translateY(-5vh);
		}
	
		[data-animation=news-article-1] {
			transition-delay: 100ms;
		}
		[data-animation=news-article-2] {
			transition-delay: 200ms;
		}
		[data-animation=news-article-3] {
			transition-delay: 300ms;
		}
	}

	.is-animated {
	
		// Campuses
		[data-animation='1'] {
			margin-top: 120px;
		}
		[data-animation='2'] {
			margin-top: 150px;
		}
		[data-animation='3'] {
			margin-top: 0;			
		}
		[data-animation='4'] {
			margin-top: 25px;			
		}


		[data-animation='8'] {
			margin-top: 145px;
		}			
		[data-animation='9'] {
			margin-bottom: 35px;
		} 
		[data-animation='10'] {
			margin-bottom: 35px;
			margin-top: 150px;
		}
		[data-animation='11'] {
			margin-bottom: 135px;
			margin-top: 25px;				
		} 
		[data-animation='12'] {
			margin-bottom: 135px;
		} 

		// Students and Alumni
		[data-animation=alu] {
			margin-top: 50px;
		}			
		[data-animation=mni] {
			margin-top: 90px;
		}			
		[data-animation=stude] {
			margin-top: 100px;
		}	
		[data-animation=ntlife] {
			margin-top: 145px;			
			margin-bottom: 70px;
		} 

		// News articles
		[data-animation=news-title],
		[data-animation=news-article-1],
		[data-animation=news-article-2],
		[data-animation=news-article-3] {
			transform: translateY(0);
			opacity: 1;	

		}
	}
}


// Tablet Portrait only
@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
	.js .is-animated {
		[data-animation='1meow'] {
			margin-bottom: 35px;
		} 
		[data-animation='2meow'] {
			margin-bottom: 50px;
		} 

		[data-animation='1'] {
			margin-top: 40px;
		}
		[data-animation='2'] {
			margin-top: 60px;
			margin-bottom: 40px;
		}
		[data-animation='3'] {
			margin-top: 0;			
		}
		[data-animation='4'] {
			margin-top: 25px;			
		}

		// Students and Alumni
		[data-animation=alu] {
			margin-top: 50px;
		}			
		[data-animation=mni] {
			margin-top: 90px;
		}			
		[data-animation=stude] {
			margin-top: 100px;
		}			
		[data-animation=ntlife] {
			margin-top: 145px;
		}			

	}
}









// Mobile Only	
@media (max-width: $screen-sm-max) {
	.title_slice,
	.title_slice_inline {
		height: 20px;
		width: auto;
		max-width: none
	}

	.is-animated {
		[data-animation='1'] {
			margin-top: 20px;
		}

		[data-animation='6'] {
			margin-top: 20px;
			margin-bottom: 40px;
		}

		[data-animation='7'] {
			margin-top: 20px;
		}
			
		[data-animation='8'] {
			margin-top: 40px;
		}
	}
}

