$panel-padding: 12px 24px;

.panel__wrapper {
	background-color: $gray-dark;
	@extend  .baseline-sm;
	color: $white;
}

	.panel__title {
		background-color: $gray-darker;
		color: $white;
		margin: 0;
		padding: $panel-padding;
		text-transform: uppercase;
		@extend .h5;
	}

		.panel__content {
			padding: $panel-padding;
			padding-bottom: 0;
		}
		
		.js {
			.panel__content {
				overflow: hidden;
				max-height: 0;
	
				&.is-active {
					max-height: 400px;
					overflow: auto;
				}
			}
		}

			.panel__sub-title {				
				@extend .h5;
				text-transform: uppercase;
				color: $white;
			}


			.flex-align-center {
				align-self: center;
			}